@font-face {
    font-family: CrackMan;
    src: url(../../public/font-crackman/CrackMan.TTF);
  }

h1{
    color:black;
    font-size: 60px;
    font-family: CrackMan;
}

.button{
    width: 200px;
    height: 45px;
    border-radius:5px;
    size: 100px;
    background-color:purple;
    font-weight: bold;
    border:2px;
    text-align: center;
}

.soundicon{
    height: 70px;
}

