@font-face {
    font-family: CrackMan;
    src: url(../../public/font-crackman/CrackMan.TTF);
  }

h1{
    color:black;
    top: 150px;
    font-family: CrackMan;
    font-size: 80px;
}

.button{
    width: 200px;
    height: 45px;
    border-radius:5px;
    size: 100px;
    background-color:#F95728;
    font-weight: bold;
    border:2px;
    text-align: center;
}

.soundicon{
    height: 20px;
    top: 20px;
    left: 300px;
}


.entrar-pushable {
    position:relative;
    border: none;
    background: transparent;
    left: 20px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .entrar-shadow {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .entrar-edge {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .entrar-front {
    display: block;
    position: relative;
    left: 20px;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .entrar-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .entrar-pushable:hover {
    filter: brightness(110%);
  }
  
  .entrar-pushable:hover .entrar-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .entrar-pushable:active .entrar-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .entrar-pushable:hover .entrar82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .entrar-pushable:active .entrar-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .entrar-pushable:focus:not(:focus-visible) {
    outline: none;
  }
  
 