@font-face {
  font-family: CrackMan;
  src: url(../../public/font-crackman/CrackMan.TTF);
}

body {
  background:orange;
  font:Open sans;
}


#exit:after {
  content:"";
  display:block;
  height:15px;
  width:15px;
  background:transparent;
  border-radius:50px;
  position:absolute;
  top:5px;
  left:5px;
  font:Open sans;
  border:3px solid orange;
  border-top-color:transparent;
  
}

#exit:before {
  content:"";
  display:block;
  height:10px;
  width:3px;
  background:orange;
  z-index:70;
  position:Absolute;
  right:13px;
  top:6px;
  font:Open sans;
}


#exit:hover {
  background:#7A0000;
 
}



#allthethings {
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position:relative;
  margin:auto;
  top:200px;
  left:2px;
  
}

#single {
  position:relative;
  bottom: 470px;
  right:300px;
  height:50px;
  width:600px;
  background:#006680;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font:Open sans;
  cursor:pointer; 
}

#single:hover {
  background:#7a0066;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);

  
}

#multiplayer:hover {
  background:#7A0000;
  color:white;
  font:Open sans;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
  
}

#credits:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  font:Open sans;
}

#options:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  font:Open sans;
}





#single p {
  position:relative;
  top: -25px;
  right:9px;
  text-align: center;
  
  
}

#multiplayer {
  height:50px;
  width:500px;
 bottom: 460px;
  right:240px;
    position:relative;
    background:#006680;
    text-align:center;
    font-size:30px;
   background-size: 1px 300%;
   -webkit-transition:0.5s;
    transition:0.5s;
    color:orange;
    font:Open sans;
    cursor:pointer; 
  
  
}
#multiplayer p {
  position:relative;
  top: 8px;
  right:9px;
  text-align: center;
  font:Open sans;

  
}


#options {
  height:50px;
  width:400px;
  background:#006680;
  position:relative;
  bottom:360px;
  right:200px;
  font-size:30px;
      text-align:center;
      font-size:30px;
     background-size: 1px 300%;
     -webkit-transition:0.5s;
      transition:0.5s;
      color:orange;
      font:Open sans;
      cursor:pointer; 
    
    
  
}

#options p {
  position:relative;
  top: 8px;
  right: 4px;
  text-align: center;
  font:Open sans;
}
 
#credits {
  height:50px;
  width:300px;
  position:relative;
  background:#006680;
  bottom: 410px;
  font-size:30px;
  right:150px;
   
      text-align:center;
      font-size:30px;
     background-size: 1px 300%;
     -webkit-transition:0.5s;
      transition:0.5s;
      color:orange;
      font:Open sans;
      cursor:pointer; 
    
    
  }


#credits p {
  position:relative;
  top: -25px;
  font:Open sans;
}