@font-face {
    font-family: CrackMan;
    src: url(../../public/font-crackman/CrackMan.TTF);
  }
canvas {
    box-shadow: 10px 10px 20px black;
    width: 30%;
    left:200px;
    width: 50%;
   
}
  
  div {
    font-family: CrackMan;
    font-size: 30px;
  }


  #soundicon{
    position: fixed;
       top: 20px;
       left: 20px;
   }

 h1{
   font-size: 20px;
 }

 .score{
    width:220px;
    float: right;
 }

 #imagem{
   position: relative;
   top: 100px;
   left: 5px;
   width: 5px;
   height: 5px;
   image-rendering: 1px;
 }

 #guia{
   
  position:relative;
     top: 10px;
     left: 2px;
  width:20%;
 
 }