@font-face {
    font-family: CrackMan;
    src: url(../../public/font-crackman/CrackMan.TTF);
  }
canvas {
    box-shadow: 10px 10px 20px black;
  
}
  
  div {
    font-family: CrackMan;
  }

  .soundIcon{
    height:20px;
    left:10px;
    top:20px;
    position: right;
  }

 .quadroJogo{
   position: center;
   top: 50px;
 }